.croppermodal {
    background-color: rgba(127, 159, 200, 0.822);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.croppermodal.open {
    display: block;
 }

 .croppermodal .position-center {
    position: fixed;
    /* background-color: #fff; */ 
    width: 175px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
   
.croppermodal .position-center i {
    font-size: 150px;
}